@import "../lbr/bootstrap/bootstrap-grid.min.css";
@import "../lbr/fontawesome/all.min.css";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
body {
  overflow-x: hidden;
}



@import "header";
@import "home";
@import "location";
@import "offers";
@import "blog";
@import "footer";
